.width-full {
    width: 100%;
}

.width-30 {
    width: 30px;
}

.width-50 {
    width: 50px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-200 {
    width: 200px;
}

.width-220 {
    width: 220px;
}

.width-250 {
    width: 250px;
}

.width-300 {
    width: 300px;
}

.width-350 {
    width: 350px;
}

.width-500 {
    width: 500px;
}

.width-800 {
    width: 800px;
}

.height-500 {
    height: 500px;
}

.height-10 {
    height: 10px;
}

.height-40 {
    height: 40px;
}

.height-150-no-resize {
    height: 150px;
    resize: none;
}

.height-210 {
    height: 210px;
}

.height-320 {
    height: 320px;
}

.height-280 {
    height: 280px;
}

.height-650 {
    height: 650;
}

.min-height-width {
    min-height: 500px;
    width: 500px;
}
