.bank-item {
    margin: 20px 0 30px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    .bank-info {
        position: relative;
        .bank-logo {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            padding-top: 8px;
            border: 1px solid #EEEEEE;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            img {
                width: 85%;
            }
        }
        .bank-description {
            padding-left: 115px;
            height: 100px;
            .bank-title {
                font-size: 11px;
                font-weight: 500;
                padding-left: 0;
                color: #3598DC;
            }
            .bank-name {
                color: #525E64;
                font-size: 20px;
                small {
                    margin-top: 10px;
                    display: block;
                }
            }
        }
    }
}
